# Node
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
tracker/dist/
dashboard/build/
dashboard/dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# MacOS
.DS_Store

# Editor
.vscode/
.idea/
